#card {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: aliceblue;
    width: 45rem;
    justify-content: center;
    align-items: center;
}

#table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40rem;
}

#table td, #table th {
    color: white;
    background-color: rgb(57, 141, 185);
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

#emptyList {
    margin-top: 2rem;
    margin-bottom: 2rem;
}