#card {
    background-color: #282f3d;
    max-width: 50%;
    margin-left: 19rem;
    margin-top: 2rem;
}

#header {
    margin-top: 3.5rem;
    color: #4f597b;
}

p {
    font-size: large;
    text-align: left;
    color: #968826;
    margin-top: 2rem;
}

p b {
    margin-right: 22rem;
}

.paragraph {
    color: #968826;
    margin-top: 2rem;
}